body {
/*    background-color: #8B5742;*/
    background-color: #FFFFFF;
    font-family: 'Poiret One', 'Arial';
    background-size: 400% 100%;
}
    
.title > h1 {
    font-size: 100pt;
    text-align: center;
}

.endButton{
    margin: 0 auto;
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: #607D8B;
    border: solid 2px #546E7A;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: -8%;
    margin-top: 8%;
}

.endButton:hover{
    background-color: darkgray;
}

#giveFeedback{
    top: 100px;
}
#playAgain{
    top: 200px;
}
#mainMenu{
    top: 300px;
}

body{
    text-align: center;
    background-image: url('backgroundWithShadow.png');

    font-family: 'Poiret One', 'Arial';

    -webkit-animation:animatedBackground 120s ease infinite;
    -moz-animation:animatedBackground 120s ease infinite;
    -ms-animation:animatedBackground 120s ease infinite;
     -o-animation:animatedBackground 120s ease infinite;
        animation:animatedBackground 120s ease infinite;
}


@keyframes animatedBackground {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}

@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}


#yourScore{
    margin: 0 auto;
    font-size: 50pt;
    margin-top: 40px;
}
