body {
/*    background-color: #8B5742;*/
    background-color: #FFFFFF;
    font-family: 'Poiret One', 'Arial';
    background-size: 400% 100%;
}
    
.title > h1 {
    font-size: 100pt;
    text-align: center;
}

.endButton{
    margin: 0 auto;
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: #607D8B;
    border: solid 2px #546E7A;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.endButton:hover{
    background-color: #65AFCC;
}

#giveFeedback{
    top: 100px;
}
#playAgain{
    top: 200px;
}
#mainMenu{
    top: 300px;
}

body{
    text-align: center;
}

#yourScore{
    margin: 0 auto;
    font-size: 50pt;
}
