body {
/*    background-color: #8B5742;*/
    background-color: #FFFFFF;
    font-family: 'Poiret One', 'Arial';
    background-size: 400% 100%;
}
    
.title > h1 {
    font-size: 100pt;
    text-align: center;
}

#giveFeedback{
    position: absolute;
    left: 550px;
    top: 100px;
    margin: auto;
    width: 200px;
    height: 70px;
    background-color: #607D8B;
    border: solid 2px #546E7A;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 20px;
}
#playAgain{
    position: absolute;
    left: 550px;
    top: 200px;
    margin: auto;
    width: 200px;
    height: 70px;
    background-color: #607D8B;
    border: solid 2px #546E7A;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 20px;
}
#mainMenu{
    position: absolute;
    left: 550px;
    top: 300px;
    margin: auto;
    width: 200px;
    height: 70px;
    background-color: #607D8B;
    border: solid 2px #546E7A;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 20px;
}
