body {
    background-color: white;
    font-family: 'Poiret One', 'Arial';
}

#mapDiv {
    width: 100%;
}                                                       

.mapContainer{
    width: 100%; 
}

.gradBar{
    visibility: hidden;
}

.bgimage {
    height: 100%;
}

.column{
    top: 0;
    position: absolute;
    margin: 50px;
    padding: 20px;
    background-color: rgba(171, 137, 240, 0.5);
    width: 20%
}

.column1{
    left: 0;
}

.column2{
    right: 0;
}

#traderCanvas {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events:none;

}
.canvas{
    pointer-events:none;
}

.countryTable{
    height: 200px;
    overflow: auto;
    display: table;
}

tbody{
    height: 200px;
    display: block;
    overflow: auto;
}

tr{
    display: table;
}

td{
    padding: 5px;
    
    font-size: 15pt;
}

.whiteCover{
    position:absolute;
    background-color: white;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
}

.destinationTab{
    font-size: 20pt;
}

.objectivesTab{
    font-size: 20pt;
}

.avoidTab p{
    font-size: 20pt;
}

/*Tutorial modal*/
#overlay p{
    margin: auto;
    max-width: 80%;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay #modalOutline {
     width:500px;
     height:400px;
     margin:100px auto;
     background-color: #fff;
     border:1px solid #000;
     text-align:center;
}

#overlay #modalHead{
    font-size: 18pt;
    position: inherit;
    top: 0;
    left: 0;
    background-color: #d8d8d8;
}

/*Modal body*/
#modalBody{
    position: relative;
    height: inherit;
    width: inherit;
}

.modalPage{
    font-size: 14pt;
    position: absolute;
}

.modalPage img{
    border: 1px solid #000000;
    border-radius: 1px;
}

/*Modal footer*/
.modalButton{
    position: absolute;
    height: 40px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 3px;
    align-content: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 20pt;
    bottom: 40px;
}
#backModalButton{
    left: 5px;
}
#nextModalButton{
    right: 5px;
}
#skip{
    position:absolute;
    bottom:50px;
    margin-left:auto;
    margin-right:auto;
    color:red;
}


.cashPopup {
    position:fixed;
    top: 50%;
    left: 45%;
    font-size: 100px;
    background-color: none;
}
#cashPenaltyText{
    color:red;
}
#cashRewardText{
    color:green;
}

#levelHeader{
    border-bottom: 1px solid gray;
}

.levelStar {
    height: 22px;
    margin-left: 5px;
    margin-bottom: 10px;
    
}
