body {
/*    background-color: #8B5742;*/
    background-color: #8B864E;
    font-family: 'Poiret One', cursive;
}

#mapDiv {
    width: 100%;
}                                                       

.mapContainer{
    width: 100%; 
}

.gradBar{
    visibility: hidden;
    
}

.menuButton{
    margin: auto;
    width: 200px;
    height: 70px;
    background-color: #607D8B;
    border: solid 2px #546E7A;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 30px;
    
}

.title > h1 {
    font-size: 100pt;
    text-align: center;
}